.container{
    display: flex;
}

.todo{
    min-width: 100px;
    font-size: 20px;
    color: white;
}

.icons{
    display: flex;
    justify-content: space-around;
}

.icon{
    cursor: pointer;
    font-size: 20px;
}

.check{
    text-decoration: line-through;
}
